form{
    width: 80%;
    position: relative;
    margin: 50px auto;
    display: block;
    @include fast();
    @include animation-delay(.5s);
    @include animation(dropIn .8s ease);
    @include mq("medium"){
      width: 70%;
    }
    @include mq("large"){
      width: 50%;
    }
    &:after{
      content: '';
      display: table;
      clear: both;
    }

    ::selection {
      background: #00fcff;
      color: #f2f2f1;
    }


    ::-webkit-input-placeholder{
          font-weight: lighter;
          color: $background;
    }
    :-moz-placeholder{
      font-weight: lighter;
      color: $background;
    }
    ::-moz-placeholder{
      font-weight: lighter;
      color: $background;
    }
    :-ms-input-placeholder{
      font-weight: lighter;
      color: $background;
    }

    .form-input{
      width: 100%;
      height: 40px;
      font-size: 30px;
      line-height: 40px;
      vertical-align: middle;
      float: left;
      background: $text;
      color: $background;
      outline: none;
      border: 0;
      font-weight: lighter;
      -webkit-appearance: none;
      border-radius: 0;
      border-bottom: 3px solid $text;
      margin: 0 10px;
      display: block;
      @include mq("large"){
        border-bottom: 5px solid $text;
      }
    }
    .form-button, button{
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      background: transparent;
      color: $text;
      text-decoration: none;
      border: 5px solid $text;
      width: 50%;
      height: 50px;
      margin-top: 30px;
      @include mq("large"){
        font-size: 24px;
      }
      &:hover{
        background: $text;
        color: $background;
      }

    }
  }