form{
    width: 80%;
    position: relative;
    margin: 0;
    display: block;
    text-align: center;
    @include fast();
    @include animation-delay(.5s);
    @include animation(dropIn .8s ease);
    @include mq("medium"){
      width: 70%;
      margin: 10px 0;
    }
    @include mq("large"){
      width: 50%;
      margin: 30px 0;
    }
    @include mq("widescreen"){
      width: 40%;
    }
    &:after{
      content: '';
      display: table;
      clear: both;
    }

    ::selection {
      background: #00fcff;
      color: #f2f2f1;
    }


    ::-webkit-input-placeholder{
          font-weight: lighter;
          color: $background;
          margin-left: 10px;
    }
    :-moz-placeholder{
      font-weight: lighter;
      color: $background;
    }
    ::-moz-placeholder{
      font-weight: lighter;
      color: $background;
    }
    :-ms-input-placeholder{
      font-weight: lighter;
      color: $background;
    }

    .form-input{
      width: 100%;
      font-size: 20px;
      @include box-sizing(border-box);
      padding: 5px;
      border-width: 0;
      height: 30px;
      line-height: 30px;
      vertical-align: middle;
      background: $text;
      color: $background;
      outline: none;
      border: 0;
      display: block;
      font-weight: lighter;
      -webkit-appearance: none;
      border-radius: 0;
      border-radius: 3px;
      @include mq("medium"){
        height: 40px;
        font-size: 20px;
        line-height: 40px;
      }
      @include mq("large"){
        height: 50px;
        font-size: 20px;
        line-height: 50px;
      }
    }
    .form-button, button{
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      background: transparent;
      color: $text;
      text-decoration: none;
      border: 2px solid $text;
      max-width: 100%;
      padding: 0;
      display: block;
      width: 50%;
      margin-left: 25%;
      @include box-sizing(border-box);
      border-radius: 3px;
      height: 30px;
      @include mq("medium"){
        height: 40px;
        line-height: 40px;
        width: 50%;
        margin-left: 25%;
      }
      @include mq("large"){
        font-size: 24px;
        width: 50%;
        height: 50px;
        vertical-align: middle;
        @include box-sizing(border-box);
        line-height: 50px;
      }
      &:hover{
        background: $text;
        color: $background;
      }

    }
  }